.bulk-image-upload-page
  .col-md-12
    .panel.panel-default
      .panel-heading
        Upload Photos
      .panel-body
        = form_tag admin_photos_path, id: 'fileupload' do    
          %p
            Click the "Add Files" button below to select files in your file browser. Alternatively you can drag and drop files onto this page.
          .spacer
          .row.fileupload-buttonbar
            .col-md-7
              %span.btn.btn-success.fileinput-button
                %i.fa.fa-plus
                %span.text Add files
                = file_field_tag 'image_files[]', class: 'file-input js-image-file-input', multiple: true

              %button.btn.btn-primary.start{type: 'submit'}
                %i.fa.fa-cloud-upload
                %span.text Upload All

              %button.btn.btn-warning.cancel{type: 'reset'}
                %i.fa.fa-ban
                %span.text Cancel Upload

              %button.btn.btn-danger.delete
                %i.fa.fa-trash
                %span.text Delete

            .col-md-5.col-lg-5.fileupload-progress.fade
              / The global progress bar
              .progress.progress-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
                .progress-bar.progress-bar-success{:style => "width:0%;"}
              / The extended global progress state
              .progress-extended &nbsp;
          
          / The table listing the files available for upload/download
          %table.table.table-striped.js-image-table.bulk-upload-table{:role => "presentation"}
            %tbody.files                            

:coffee
   $ -> new App.Views.Admin.Photos.New

-# template files read by jquery.fileupload-ui (https://blueimp.github.io/jQuery-File-Upload/)
:plain
  <script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-upload fade">
          <td>
              <span class="preview"></span>
          </td>
          <td>
              <p class="name">{%=file.name%}</p>
              <strong class="error text-danger"></strong>
          </td>
          <td>
              <p class="size">Processing...</p>
              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
          </td>
          <td>
              {% if (!i && !o.options.autoUpload) { %}
                  <button class="btn btn-primary start" disabled>
                      <i class="glyphicon glyphicon-upload"></i>
                      <span>Start</span>
                  </button>
              {% } %}
              {% if (!i) { %}
                  <button class="btn btn-warning cancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                      <span>Cancel</span>
                  </button>
              {% } %}
          </td>
      </tr>
  {% } %}
  </script>
  <!-- The template to display files available for download -->
  <script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-download fade" 
          {% if (file.thumbnailUrl) { %} data-id='{%= file.id %}' {% } %}>
          <td>
              <span class="preview">
                  {% if (file.thumbnailUrl) { %}
                      <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                  {% } %}
              </span>
          </td>
          <td>
              <p class="name">
                  {% if (file.url) { %}
                      <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                  {% } else { %}
                      <span>{%=file.name%}</span>
                  {% } %}
              </p>
              {% if (file.error) { %}
                  <div><span class="label label-danger">Error</span> {%=file.error%}</div>
              {% } %}
          </td>
          <td>
              <span class="size">{%=o.formatFileSize(file.size)%}</span>
          </td>
          <td>
              {% if (file.deleteUrl) { %}
                  <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                      <i class="glyphicon glyphicon-trash"></i>
                      <span>Delete</span>
                  </button>
                  <input type="checkbox" name="delete" value="1" class="toggle">
              {% } else { %}
                  <button class="btn btn-warning cancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                      <span>Cancel</span>
                  </button>
              {% } %}
          </td>
      </tr>
  {% } %}
  </script>       